# Ignore everything
/*

# Except these files & folders
!/src
!package.json
!tailwind.config.ts
!tsconfig.json
!tsconfig.node.json
!vite.config.ts
!.prettierrc
!README.md
!eslint.config.js
!.eslintrc.json
!postcss.config.mjs